.pt-0 {
  padding-top: 0!important;
}

.pe-2 {
  padding-right: .5rem!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.ps-2 {
  padding-left: .5rem!important;
}

.ps-10 {
  padding-left: 10.5rem !important;
}

